body {
    font-family: arial;
}

h1 {
    text-align: center;
}

button {
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 1px gray;
    cursor: pointer;
    background-color: rgb(47, 252, 47);
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
    background-color: rgb(255, 185, 56);
    padding: 6px;
    border-radius: 5px;
    box-shadow: 1px 2px 1px gray;
    cursor: pointer;
}

/* Logout content */
.logout-content {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 5px;
}

/* add button */ 
.add-btn {
    margin-inline-start: 10%;
}


/* Css for table */

table {
    border: 1px solid black;
    text-align: center;
    margin: auto;
    width: 80%;
}

th, td {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}


/* css for pop-up modal */
.add-modal {
    display: none;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.399);
}

.modal-content{
    border: 1px solid rgba(128, 128, 128, 0.401);
    margin: 40px auto;
    width: 40%;
    height: 50%;
    overflow: hidden;
    text-align: center;
    background-color: white;
}

.edit-modal {
    display: block;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.399);
}

/* css for login */

.form-login {
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    width: 30%;
    margin: auto;
    background-color: rgba(205, 191, 191, 0.459);
}


.form-login Label {
    margin-inline-end: 26%;
}


.form-login form > input {
    display: flex;
    margin: auto;
    border: none;
    box-shadow: 1px 1px black;
    padding: 5px;
}

.menu-login {
    text-align: center;
}
